.font-lato, .v-label{
    font-family: 'Lato', sans-serif;
}

body, h1{
    font-family: 'Lato', sans-serif !important;
    color: #1A1A1D !important;
}

body a, h1, span, p{
    font-family: 'Lato', sans-serif;
}
.v-application p {
  margin-bottom: unset !important;
}

.font-12{
    font-size: 12px !important;
}

.font-17{
    font-size: 17px !important;
}
.link-green{
    font-size: 15px;
    line-height: 18px;
    text-decoration: underline;
}